{% extends "base.html" %}

{% block title %}Reset hesla - FindAI{% endblock %}

{% block content %}
<h2>Reset hesla</h2>

<p>Dobrý den,</p>

<p>obdrželi jsme žádost o reset hesla pro váš účet. Pokud jste o reset hesla nežádali, můžete tento e-mail ignorovat.</p>

<p>Pro vytvoření nového hesla klikněte na tlačítko níže:</p>

<p style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Resetovat heslo</a>
</p>

<p>
    <small>
        Tento odkaz je platný {{ valid_hours }} hodin. Po uplynutí této doby budete muset požádat o nový odkaz pro reset hesla.
    </small>
</p>

<p>
    <small>
        Z bezpečnostních důvodů vám doporučujeme:
        <ul>
            <li>Použít silné heslo obsahující velká a malá písmena, čísla a speciální znaky</li>
            <li>Nepoužívat stejné heslo jako na jiných webech</li>
            <li>Nikdy nesdílet své přihlašovací údaje s jinými osobami</li>
        </ul>
    </small>
</p>
{% endblock %} 